<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Should I Take An Umbrella?</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container" style="alignment: center">
            <ul class="nav navbar-nav menu_nav mx-auto">
                <li class="nav-item active text-center"><a style="color: aliceblue; font-size: 25px" class="nav-link"
                                                           href="/">Will I Need An Umbrella In Ribeirao Preto?</a></li>
            </ul>
        </div>
    </nav>

</header>
<body>
<br>
<br>
<div class="container">
<div class="jumbotron">
    <div class="container" align="center">
        <h2>Better get an umbrella these days*: </h2>
        <p>*humidity over 70% sometimes during these days OR the entire day</p>
        <br>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            {% for day in week_day %}
            <th>{{day}}</th>
            {%endfor%}
        </tr>
            </thead>
        <tbody>
        <tr>
            {% for i in date %}
            <th>{{i}}</th>
            {%endfor%}
        </tr>
</tbody>


    </table>
</div>
    </div>
</body>
</html>